POSTGRES_PASSWORD=replace-with-openssl-rand-hex
AUTHS_SOX_DB_PASSWORD=replace-with-openssl-rand-hex
ATMS_SOX_DB_PASSWORD=replace-with-openssl-rand-hex
SITES_SOX_DB_PASSWORD=replace-with-openssl-rand-hex
WAGS_SOX_DB_PASSWORD=replace-with-openssl-rand-hex
KAFKA_CLUSTER_ID=replace-with-kafka-storage-random-uuid
