<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>github-forge-it</id>
      <username>${MAVEN_REPOSITORY_USERNAME}</username>
      <password>${GITHUB_FORGE_IT_MAVEN_TOKEN}</password>
    </server>
    <server>
      <id>github-app-afesox</id>
      <username>${MAVEN_REPOSITORY_USERNAME}</username>
      <password>${GITHUB_APP_AFESOX_MAVEN_TOKEN}</password>
    </server>
    <server>
      <id>github-forge-security</id>
      <username>${MAVEN_REPOSITORY_USERNAME}</username>
      <password>${GITHUB_FORGE_SECURITY_MAVEN_TOKEN}</password>
    </server>
    <server>
      <id>github-forge-common</id>
      <username>${MAVEN_REPOSITORY_USERNAME}</username>
      <password>${GITHUB_FORGE_COMMON_MAVEN_TOKEN}</password>
    </server>
  </servers>
</settings>
